; make file for WYSIWYG tests

; USAGE:
; =========
; .make files inside a profile will recurse and cannot contain the drupal project itself
; Copy ideograph_wysiwyg.make.txt outside the profile directory and rename it to ideograph_wysiwyg.make
; This command will create a site root called "ideograph.wysiwyg" right beside your .make:
; $ drush make ideograph_wysiwyg.make ideograph.wysiwyg


core = 7.x
api = 2

projects[] = "drupal"
; projects[drupal][version] = "7.14"


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Contributed Modules                                           ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


;;;;;;;;;;;
; WYSIWYG ;
;;;;;;;;;;;

; we need the dev version for Features exportable support
projects[wysiwyg][subdir] = "contrib"
projects[wysiwyg][version] = "2.x-dev"
; as per http://drupal.org/node/746524#comment-4730732 adds font styles to CKeditor
projects[wysiwyg][patch][] = "http://drupal.org/files/issues/746524-91Drupal7-v3_drush_make.patch"

projects[better_formats][subdir] = "contrib"
projects[better_formats][version] = "1.x-dev"

projects[wysiwyg_filter][subdir] = "contrib"
;projects[wysiwyg_filter][version] = "1.6-rc2"


;;;;;;;;;;;;;;;;;
; FILE HANDLING ;
;;;;;;;;;;;;;;;;;

projects[imageapi][subdir] = "contrib"
projects[imageapi][version] = "1.x-dev"

projects[insert][subdir] = "contrib"
;projects[insert][version] = "1.1"

projects[image_resize_filter][subdir] = "contrib"
;projects[image_resize_filter][version] = "1.12"

projects[imce][subdir] = "contrib"
;projects[imce][version] = "1.5"

projects[imce_wysiwyg][subdir] = "contrib"
;projects[imce_wysiwyg][version] = "1.0"

projects[filefield_sources][subdir] = "contrib"
;projects[filefield_sources][version] = "1.4"



;;;;;;;;;;;;;;;
; SEO & PATHS ;
;;;;;;;;;;;;;;;

projects[transliteration][subdir] = "contrib"
;projects[transliteration][version] = "3.0"

projects[pathauto][subdir] = "contrib"
;projects[pathauto][version] = "1.0-rc2"

projects[token][subdir] = "contrib"
;projects[token][version] = "1.0-beta6"

projects[pathologic][subdir] = "contrib"
;projects[pathologic][version] = "1.3"

projects[filefield_paths][subdir] = "contrib"
; as per http://drupal.org/node/1017830 we require dev
projects[filefield_paths][version] = "1.x-dev"








;;;;;;;;;
; OTHER ;
;;;;;;;;;

projects[jquery_ui][subdir] = "contrib"
projects[jquery_ui][version] = "1.x-dev"

projects[libraries][subdir] = "contrib"
;projects[libraries][version] = "1.0"

projects[ctools][subdir] = "contrib"
;projects[ctools][version] = "1.0-rc2"

projects[views][subdir] = "contrib"
;projects[ctools][version] = "3.3"


;;;;;;;;;;;;;;;
; DEVELOPMENT ;
;;;;;;;;;;;;;;;

projects[admin_menu][subdir] = "contrib"
projects[admin_menu][version] = "3.x-dev"

projects[devel][subdir] = "contrib"
;projects[devel][version] = "1.2"

;projects[git_deploy][subdir] = "contrib"
;projects[git_deploy][version] = "1.x-dev"

projects[diff][subdir] = "contrib"
;projects[diff][version] = "2.0"

; FEATURES ;
projects[features][subdir] = "contrib"
projects[features_plumber][subdir] = "contrib"
projects[features_override][subdir] = "contrib"
projects[strongarm][subdir] = "contrib"

; this looked promising, but not yet working in my install
;projects[defaultcontent][subdir] = "contrib"
;projects[defaultcontent][version] = "1.0-alpha4"







;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Custom Modules                                                ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

projects[ideograph_wysiwyg][type] = "module"
projects[ideograph_wysiwyg][subdir] = "custom"
projects[ideograph_wysiwyg][download][type] = "git"
projects[ideograph_wysiwyg][download][url] = "http://git.drupal.org/sandbox/Andrew_Mallis/1315584.git"
;projects[ideograph_wysiwyg][version] = "1.x-dev"
projects[ideograph_wysiwyg][branch] = "7.x-1.x-dev"





;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Features                                                      ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

projects[ideograph_dev][type] = "module"
projects[ideograph_dev][subdir] = "features"
projects[ideograph_dev][download][type] = "git"
projects[ideograph_dev][download][url] = "git://github.com/ideograph/ideograph_dev.git"
;projects[ideograph_dev][branch] = "7.x-1.x-dev"

projects[ideograph_util][type] = "module"
projects[ideograph_util][subdir] = "features"
projects[ideograph_util][download][type] = "git"
projects[ideograph_util][download][url] = "git://github.com/ideograph/ideograph_util.git"

projects[ideograph_wysiwyg_article][type] = "module"
projects[ideograph_wysiwyg_article][subdir] = "features"
projects[ideograph_wysiwyg_article][download][type] = "git"
projects[ideograph_wysiwyg_article][download][url] = "git://github.com/ideograph/ideograph_wysiwyg_article.git"

projects[ideograph_wysiwyg_inserty_article][type] = "module"
projects[ideograph_wysiwyg_inserty_article][subdir] = "features"
projects[ideograph_wysiwyg_inserty_article][download][type] = "git"
projects[ideograph_wysiwyg_inserty_article][download][url] = "git://github.com/ideograph/ideograph_wysiwyg_inserty_article.git"

projects[ideograph_wysiwyg_views][type] = "module"
projects[ideograph_wysiwyg_views][subdir] = "features"
projects[ideograph_wysiwyg_views][download][type] = "git"
projects[ideograph_wysiwyg_views][download][url] = "git://github.com/ideograph/ideograph_wysiwyg_views.git"

projects[ideograph_wysiwyg_feature][type] = "module"
projects[ideograph_wysiwyg_feature][subdir] = "features"
projects[ideograph_wysiwyg_feature][download][type] = "git"
projects[ideograph_wysiwyg_feature][download][url] = "git://github.com/ideograph/ideograph_wysiwyg_feature.git"

projects[ideograph_wysiwyg_content][type] = "module"
projects[ideograph_wysiwyg_content][subdir] = "features"
projects[ideograph_wysiwyg_content][download][type] = "git"
projects[ideograph_wysiwyg_content][download][url] = "git://github.com/ideograph/ideograph_wysiwyg_content.git"

projects[ideograph_wysiwyg_config][type] = "module"
projects[ideograph_wysiwyg_config][subdir] = "features"
projects[ideograph_wysiwyg_config][download][type] = "git"
projects[ideograph_wysiwyg_config][download][url] = "git://github.com/ideograph/ideograph_wysiwyg_config.git"


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Themes                                                        ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;projects[tao][version] = "3.0-beta4"
;projects[rubik][version] = "4.0-beta6"


projects[ideograph_wysiwyg_bartik][type] = "theme"
projects[ideograph_wysiwyg_bartik][download][type] = "git"
projects[ideograph_wysiwyg_bartik][download][url] = "git://github.com/ideograph/ideograph_wysiwyg_bartik.git"
;projects[ideograph_wysiwyg_bartik][branch] = "7.x-1.x-dev"



;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Libraries                                                     ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

libraries[ckeditor][download][type] = "get"
libraries[ckeditor][download][url] = "http://download.cksource.com/CKEditor/CKEditor/CKEditor%203.6.1/ckeditor_3.6.1.tar.gz"
libraries[ckeditor][directory_name] = "ckeditor"
libraries[ckeditor][destination] = "libraries"

libraries[jquery.ui][download][type] = "get"
libraries[jquery.ui][download][url] = "http://jquery-ui.googlecode.com/files/jquery-ui-1.7.3.zip"
libraries[jquery.ui][directory_name] = "jquery.ui"
libraries[jquery.ui][destination] = "modules/contrib/jquery_ui"





;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Profile                                                       ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

projects[ideograph_wysiwyw][type] = "profile"
projects[ideograph_wysiwyw][download][type] = "git"
projects[ideograph_wysiwyw][download][url] = "git://github.com/ideograph/ideograph_wysiwyg-build.git"
;projects[ideograph_wysiwyw][branch] = "7.x-1.x-dev"
;projects[ideograph_wysiwyw][tag] = "7.x-1.0-alpha1"
projects[ideograph_wysiwyw][directory_name] = "ideograph_wysiwyw"




;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;   http://ideograph.biz